<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <h2>Sign in to your account</h2>

        <%- include("../../partials/login-form.ejs", { error: error, email:
        email }) %>

        <a class="auth-link" href="/auth/register">Sign Up</a>
      </div>
    </div>
  </body>
</html>
