<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="/css/todo.css">
  </head>
  <body>
    <div class="todo-container">
        <h1>Wellcome <%- user.username %></h1>

        <%- include("../../partials/todo-form.ejs", { todo: null}) %>

    <div class="todo-cards-div">
        <% todos?.forEach(todo => { %>
            <% if (todo) { %>
                <%- include("../../partials/todo-card.ejs" , {todo , isEdit: false}) %>       
            <% } %>
        <% }) %>
    </div>
      </div>
    </div>

      <form class="logout-form" action="/logout" method="POST">
        <button type="submit" class="logout-button">logout</button>
      </form>

    <script type="module" src="/public/dist/src/js/requests.js"></script>
    <script type="module" src="/public/dist/src/js/todos.js"></script>
  </body>
</html>