<form action="/auth/login" method="POST" class="space-y-4">
  <% if (error) { %>
  <div class="error-message">
    <span><%= error %></span>
  </div>
  <% } %>
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      value="<%= email || '' %>"
      required
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">Sign in</button>
  </div>
</form>
